<a href="https://colab.research.google.com/github/yashk1/Data-Science-Bootcamp-2.0/blob/main/List_demo_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nesting of the list

list inside a list

In [ ]:
A = [[1,2,3], [11, 22, 33], [45, 56, 77]]

A

[[1, 2, 3], [11, 22, 33], [45, 56, 77]]

In [ ]:
A[0]

[1, 2, 3]

In [ ]:
A[1]

[11, 22, 33]

In [ ]:
A[1][1]

22

In [ ]:
A = [[1,2,3], [11, 22, 33, [500, 502]], [45, 56, 77]]

A[0]

[1, 2, 3]

In [ ]:
A[1]

[11, 22, 33, [500, 502]]

In [ ]:
A[1][3]

[500, 502]

In [ ]:
A[1][3][0]

500

In [ ]:
A = [[1,2,3], [11, 22, 33, [500, 502]], [45, [239, "Hiii"], 56, 77]]

In [ ]:
A[2][1][1]

'Hiii'

In [ ]:
A[-1][1][-1]

'Hiii'

In [ ]:
A[-1][-3][-1]

'Hiii'

In [ ]:
amazon_cart = [["watch", 5000], ["phone", 10000], ["laptop", 50000]]

total_cost = 0

In [ ]:
# without for loop

amazon_cart[0][1]

5000

In [ ]:
amazon_cart[1][1]

10000

In [ ]:
amazon_cart[2][1]

50000

In [ ]:
amazon_cart[0][1] + amazon_cart[1][1] + amazon_cart[2][1]

65000

In [ ]:
total_cost = 0

for i in range(len(amazon_cart)):
  # print(i)
  print(amazon_cart[i][1])
  total_cost = total_cost + amazon_cart[i][1]

print(total_cost)

5000
10000
50000
65000

In [ ]:
total_cost = 0
print(f"empty cart: {total_cost}")

for item in amazon_cart:
  print(item[1])
  total_cost = total_cost + item[1]
  print(f"cart after adding {item[0]}: {total_cost}")

print(f"Total payable amount: {total_cost}")

empty cart: 0
5000
cart after adding watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding laptop: 65000
Total payable amount: 65000

## List comprehension

In [ ]:
# list which contains list of square of nos between 1 to 10


A = [1,2,3,4,5,6,7,8,9,10]
ans = [1, 4, 9, 16, ...]

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = list()

for ele in A:
  print(ele**2)
  ans.append(ele**2)

print(ans)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
ans = [ele**2 for ele in A]

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
ans = [i**2 for i in A]

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# only take the square of odd no in the list A

A = [1,2,3,4,5,6,7,8,9,10]

ans = list()
print(ans)

for ele in A:
  if ele%2 != 0:
    print(ele**2)
    ans.append(ele**2)
    print(ans)

ans

[]
1
[1]
9
[1, 9]
25
[1, 9, 25]
49
[1, 9, 25, 49]
81
[1, 9, 25, 49, 81]

[1, 9, 25, 49, 81]

In [ ]:
ans = [ele**2 for ele in A if ele%2 != 0]

print(ans)

[1, 9, 25, 49, 81]

# Count

In [ ]:
A = [1,2,1,4,5,6,7,7,7]

In [ ]:
A.count(1)

2

In [ ]:
A.count(7)

3

In [ ]:
A.count(7999)

0

In [ ]:
A = [1,2,1,4,5,6,7,7,7]
for i in A:
  print(i, A.count(i))

1 2
2 1
1 2
4 1
5 1
6 1
7 3
7 3
7 3

In [ ]:
A = [1,2,1,4,5,6,[7,7],[7,7]]

A.count([7,7])

2

In [ ]:
A.count(7)

0

In [ ]:
A[-1].count(7)

2

In [ ]:
A = "Sunny"
for i in A:
  print(i, A.count(i))

S 1
u 1
n 2
n 2
y 1

In [ ]:
A = ["Sunny", "Sunny", "Chandra"]
for i in A:
  print(i, A.count(i))

Sunny 2
Sunny 2
Chandra 1

In [ ]:
A = ["Sunny", "SUNNY", "Chandra"]
for i in A:
  print(i, A.count(i))

Sunny 1
SUNNY 1
Chandra 1

## Extend

In [ ]:
A = [1,2,3]

B = [11, 22, 33]

print(A + B)
print("before assignment")
print(A)

A = A + B
print("after assignment")
print(A)

[1, 2, 3, 11, 22, 33]
before assignment
[1, 2, 3]
after assignment
[1, 2, 3, 11, 22, 33]

In [ ]:
A = [1,2,3]

B = [11, 22, 33]

A.extend(B) # permananet operation, inplace assignment

A

[1, 2, 3, 11, 22, 33]

In [ ]:
A = [1,2,3]

B = [11, 22, 33]

A.append(B)  # permananet operation, inplace assignment

A

[1, 2, 3, [11, 22, 33]]

## index method

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j]

In [ ]:
A.index(11)

0

In [ ]:
A.index("Sunny")

4

In [ ]:
# print the index of all the complex nos.
# do a for loop
# if condition for type check
# if type is complex then print the index

for ele in A:
  if type(ele) == complex:
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [ ]:
for ele in A:
  if type(ele) == int:
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2

In [ ]:
for ele in A:
  if type(ele) == str:
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: Sunny | Type: <class 'str'> | Index: 4

## isinstance

In [ ]:

for ele in A:
  if isinstance(ele, complex):
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [ ]:
ans = [ele for ele in A if isinstance(ele, complex)]
ans

[(56+2j), (1+2j)]

In [ ]:
ans = [ele for ele in A if type(ele)==complex]
ans

[(56+2j), (1+2j)]

In [ ]:
# ele for ele in A if type(ele)==complex

In [ ]:
# print the index all the complex or int also

for ele in A:
  if isinstance(ele, complex) or isinstance(ele, int):
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [ ]:
# print the index all the complex or int also

for ele in A:
  if isinstance(ele, (complex, int)): # pythonic way  # OR case
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [ ]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j, 3, 3] # duplicate elements

A.index(3)

1

In [ ]:
A = [11, "xyz", 3, 4, 56+2j, "Sunny", 1+2j, 3, 3] # duplicate elements

A.index(3)

2

In [ ]:
A = [11, "xyz", 3, 4, 56+2j, "Sunny", 1+2j, 3, 3] # duplicate elements

A.index(4444444)

ValueError: ignored

In [ ]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A.index(4) # sir its showing value Error

ValueError: ignored

In [ ]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A.index([4,5,6]) # sir its showing value Error

3

In [ ]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A[3].index(4) # sir its showing value Error

0

## insert

In [ ]:
A = [1,2,3,4,5]

A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [ ]:
A.insert(2, "Sunny")

A

[1, 2, 'Sunny', 3, 4, 5, 99]

In [ ]:
A.insert(2000, "Sunny")

A

[1, 2, 'Sunny', 3, 4, 5, 99, 'Sunny']

In [ ]:
A[2000]

IndexError: ignored

In [ ]:
A.insert(-2000, "Sunny")

A

['Sunny', 1, 2, 'Sunny', 3, 4, 5, 99, 'Sunny']

In [ ]:
A[2000]

In [ ]:
A = [3,4,5]

len(A)

3

In [ ]:
A.insert(2, "Sunny")

len(A)

4

In [ ]:
A.insert(2000, "Sunny")

len(A)

5

In [ ]:
A.insert(, "Sunny")

len(A)

SyntaxError: ignored

In [ ]:
A.insert("Sunny")

len(A)

TypeError: ignored

In [ ]:
A

[3, 4, 'Sunny', 5, 'Sunny']

In [ ]:

A.insert(2, [1,2,34])

A

[3, 4, [1, 2, 34], 'Sunny', 5, 'Sunny']

## remove

In [ ]:
A = [1,2,3,455, 6, 77]

A.remove(455)

A

[1, 2, 3, 6, 77]

In [ ]:
A = [1,2,3,455, 6, 77]

A.remove(77)

A

[1, 2, 3, 455, 6]

In [ ]:
A = [1,1,2,3,455, 6, 77]

A.remove(1)

A

[1, 2, 3, 455, 6, 77]

In [ ]:
A = [1,1,2,3,455, 6, 88, 6, 77]

A.remove(6)

A

[1, 1, 2, 3, 455, 88, 6, 77]

In [ ]:
A = [1,1,2,3,455, 6, 88, 6, 77]

A.remove(9999)

A

ValueError: ignored

In [ ]:
A.pop(-1)

77

In [ ]:
A.pop() # this removes the last element

6

# TUPLES - () - immutable
list = [] - mutable

In [ ]:
A = (1,2,3)

In [ ]:
type(A)

tuple

In [ ]:
A[0]

1

In [ ]:
A[-1]

3

In [ ]:
A[0] = 22

TypeError: ignored

In [ ]:
A = (22, 12, 34, 1)

In [ ]:
A.sort()

A

AttributeError: ignored

In [ ]:
sorted(A) # convert it into list and then return the sorted list

[1, 12, 22, 34]

In [ ]:
A = sorted(A) 

A

[1, 12, 22, 34]

In [ ]:
A = (22, 12, 34, 1)

len(A)

4

In [ ]:
A * 2

(22, 12, 34, 1, 22, 12, 34, 1)

In [ ]:
A

(22, 12, 34, 1)

In [ ]:
A ** 2

TypeError: ignored

In [ ]:
max(A)

34

In [ ]:
min(A)

1

In [ ]:
A.index(12)

1

In [ ]:
A.count(12)

1

In [ ]:
sum(A)

69

In [ ]:
# A.reversed()

AttributeError: ignored

In [ ]:
A

(22, 12, 34, 1)

In [ ]:
A[1:]

(12, 34, 1)

In [ ]:
A[::-1]

(1, 34, 12, 22)

In [ ]:
# ("item_name", amount) 

amazon_cart = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

total_cost = 0

In [ ]:
total_cost = 0
print(f"empty cart: {total_cost}")

for item in amazon_cart:
  print(item[1])
  total_cost = total_cost + item[1]
  print(f"cart after adding {item[0]}: {total_cost}")

print(f"Total payable amount: {total_cost}")

empty cart: 0
5000
cart after adding watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding laptop: 65000
1000
cart after adding shirt: 66000
Total payable amount: 66000

In [ ]:
# user input what you want to purchase?
# 


amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

my_choice = input("What you want to purchase? : ")

What you want to purchase? : phone

In [ ]:
my_choice

'phone'

In [ ]:
for item in amazon_website:
  if item[0] == my_choice:
    print(item)

('phone', 10000)

## Assignment

1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

## Sets
unordered collection of unique elements

In [ ]:
x = {1,2,33,6,7}

In [ ]:
type(x)

set

In [ ]:
x =  {1,2,33,6,7, 7, 7}

x

{1, 2, 6, 7, 33}

In [ ]:
x = set() # RECOMMENDED

type(x)

set

In [ ]:
x = {} # NOT recommended

type(x)

dict

In [ ]:
x = tuple()
x

()

In [ ]:
x = list()
x

[]

In [ ]:
x =  {1,2,33,6,7, 7, 7}

x

{1, 2, 6, 7, 33}

In [ ]:
x[0] # NOT allowed as set is unordered

TypeError: ignored

In [ ]:
x =  {1,2,33,6,"Sunny"}

x

{1, 2, 33, 6, 'Sunny'}

In [ ]:
x.add(99)

x

{1, 2, 33, 6, 99, 'Sunny'}

In [ ]:
x.add(99+2j)

x

{(99+2j), 1, 2, 33, 6, 99, 'Sunny'}

In [ ]:
x.add( -100)

x

{(99+2j), -100, 1, 2, 33, 6, 99, 'Sunny'}

In [ ]:
x.add( -200)

x

{(99+2j), -100, -200, 1, 2, 33, 6, 99, 'Sunny'}

In [ ]:
x.add( 20.2)

x

{(99+2j), -100, -200, 1, 2, 20.2, 33, 6, 99, 'Sunny'}

In [ ]:
x.add( 40.2)

x

{(99+2j), -100, -200, 1, 2, 20.2, 33, 40.2, 6, 99, 'Sunny'}

In [ ]:
x.remove(-100)

x

{(99+2j), -200, 1, 2, 20.2, 33, 40.2, 6, 99, 'Sunny'}

In [ ]:
## return the list with unique elements

A = [1,2,3,5,5,6,6,7,7,7]

A = list(set(A))

A

[1, 2, 3, 5, 6, 7]

In [ ]:
x.append(99)

x

AttributeError: ignored

In [ ]:
A = {1,2,3}
B = {4,5,6}


A + B

TypeError: ignored

In [ ]:
name = "rishi"

example = [name*2 for i in range(10)]

example

['rishirishi',
 'rishirishi',
 'rishirishi',
 'rishirishi',
 'rishirishi',
 'rishirishi',
 'rishirishi',
 'rishirishi',
 'rishirishi',
 'rishirishi']

In [ ]:

example = [i for i in range(10)]

example

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

example = [i**2 for i in range(10)]

example

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:

example = [i**2 for i in range(1, 11)]

example

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]